@page "/"

<link href="Kal.styles.css" rel="stylesheet">


<section class="head">

    <section class="sectionRight">
        <h1 class="month">@kalendar.currentMonthName</h1>
        <input type="month" @bind="kalendar.SelectedDate"/>
        <button @onclick="kalendar.PreviousMonth">Previous</button>
        <button @onclick="kalendar.NextMonth">Next</button>
        @*<button @onclick="kalendar.GoToSelectedMonth">Go to Selected Month</button>*@
    </section>
</section>

<div class="tab">
    @foreach (var dayOfWeek in Enum.GetValues(typeof(DayOfWeek)))
    {
        <th class="dayOfWeek">@dayOfWeek</th>
    }
    @for (int i = 0; i < kalendar.GetBlankColumnsOffset(); i++)
    {
        <th class ="blankWeek"></th> <!-- Blank column -->
    }
    @for (int day = 1; day <= DateTime.DaysInMonth(kalendar.YearNow, kalendar.MonthNow); day++)
    {
        <th>@day</th>
    }
</div>


@code
{
    Kalc kalendar = new Kalc();
}
